.contact-container {
  width: 30%;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 20px;
}

.about-me__title {
  border-bottom: 1px solid #000;
}
.about-me__item {
  margin-bottom: 50px;
}