/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .name-desc-wrap {
    margin-left: 30%;
  }
}
/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .bi {
    margin: 0 10px;
  }

  .name-desc-wrap {
    margin-left: 40%;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .nav-link {
    font-size: 14px;
  }

  .name-desc-wrap {
    margin-left: 50%;
  }

  .main-comments {
    flex-direction: column;
    align-items: flex-start;
  }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
  .avatar-photo {
    width: 180px;
    height: 190px;
    border-radius: 100%;
  }

  .burger-menu {
    display: inline-block;
  }

  .main-menu {
    display: none !important;
  }
}