.header {
  position: relative;
  background-color: #1f1f1f;
}

.lang-btn-container {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.nav {
  align-items: center;
}
.nav-link {
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 19px;
  color: #fff;
  transition: all 0.2s linear;
}
.nav-link:hover {
  color: #837272;
}

.bi {
  background-color: #fff;
  width: 2px;
  height: 20px;
  margin: 0 30px;
}

.social-block {
  position: absolute;
  right: 20px;
  bottom: -50%;
  transform: translateY(-5px);
}

.btn-social-icon {
  border-radius: 50%;
  border: 3px #fff solid;
  background-color: #d81616;
}
.btn-social-icon .fa {
  font-size: 18px;
  padding-bottom: 5px;
  line-height: 1.5;
}

.btn-social-icon:hover {
  border: 3px #fff solid;
  background-color: #970505;
}