.header{
    background-color: rgb(31, 31, 31);
}

.nav{
    align-items: center;
    &-link{
        text-transform: uppercase;
        letter-spacing: -1px;
        font-size: 19px;
        color: #fff;

        transition: all .2s linear;
    }
    &-link:hover{
        color: #837272;
    }
}

.bi{
    background-color: #fff;
    width: 2px;
    height: 20px;
    margin: 0 30px;
}